@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
}

.designFirstSec {
  height: 100vh;
  background-color: #49225b;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  height: 100px;
  /* position: fixed; */
  /* background: red; */
}

#name {
  color: #ffffff;
  text-align: center;
  /* background-color: black; */
  padding: 0.5rem;
  font-size: 2.1rem;
}

#navLinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* background-color: black; */
}

#navLinks > a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}

.icons {
  /* width: 300px;
    height: 300px;
    background-color: #fff; */
}

/* First main */
.firstMainCon {
  /* background-color: #fff; */
  height: calc(100% - 100px);
  width: 100%;
  box-sizing: border-box;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
}

.introInfo {
  /* background-color: red; */
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#one {
  margin: 0;
  font-size: 2rem;
  color: #ffffff;
}

#one + p {
  color: #fdcb6e;
}

.two {
  margin: -0.2rem;
  font-size: 3rem;
  color: #ffffff;
  line-height: 3.5rem;
  /* font-weight: bold; */
}

.buttonCon {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}

.b {
  background-color: #fdcb6e;
  color: #49225b;
  width: 150px;
  padding: 1rem 0.7rem;
  font-size: 1rem;
  border: 0 solid;
  border-radius: 30px;
}

.b + .b {
  color: #fdcb6e;
  background-color: #49225b;
  border: 2px solid #fdcb6e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.img {
  /* background-color: #fdcb6e; */
  display: flex;
  align-items: center;
}

.img > img {
  width: 400px;
  margin-top: -20%;
  border: none;
  border-radius: 40px;
}




/* The Second Section Style */
#secSect {
  background-color: #330E4D;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about {
  width: 60%;
}

#about > h3 {
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}

#about > h3 > span {
  color: #fdcb6e;
}

#about > p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 1.2rem;
}

#design {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.des {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.longOval {
  width: 65px;
  height: 220px;
  background-color: #fdcb6e;
  border-radius: 65px;
}

.circle {
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
}

.empLongOval {
  width: 65px;
  height: 260px;
  background: transparent;
  border: 2px solid #fdcb6e;
  border-radius: 65px;
}

