html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.designFirstSec {
    height: 100vh;
    background-color: #49225B;
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;
    width: 100%;
    height: 100px;
    /* position: fixed; */
    /* background: red; */
}

#name {
    color: #ffffff;
    text-align: center;
    /* background-color: black; */
    padding: 0.5rem;
}

#navLinks {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* background-color: black; */
}

#navLinks > a {
    text-decoration: none;
    color: #ffffff;
    /* height: 50%; */
    padding: 0.5rem;
    text-align: center;
    /* background-color: green; */
    /* font-size: 1.2rem; */
    /* font-weight: 500; */
}

.icons {
    /* width: 300px;
    height: 300px;
    background-color: #fff; */
}

/* First main */
.firstMainCon {
    /* background-color: #fff; */
    height: calc(100% - 100px);
    width: 100%;
    box-sizing: border-box;
    padding: 0 3.5rem;
    display: flex;
    justify-content: space-between;
}

.introInfo {
    /* background-color: red; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#one {
    margin: 0;
    font-size: 2rem;
}

.two {
    margin: 0;
    font-size: 3rem;
    /* font-weight: bold; */
}